body {
    background-color: #F2FFFC;
    font-family: "Crimson Text", serif;
    font-size: 120%;
}

h1, h2 {
    font-family: "Open Sans Condensed", sans-serif;
}

h1 {
    text-align: center;
    background-color: #851944;
    color: #FFF;
}

p {
    text-align: justify;
}
