body {
    background-color: #F2FFFC;
    font-family: "Crimson Text", serif;
    font-size: 120%;
    line-height: 1.5;
}

h1,
h2 {
    font-family: "Open Sans Condensed", sans-serif;
}

main h1 {
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 25px;
    margin: 0;
    border-bottom: 10px solid black;
    font-size: 60px;
    text-transform: uppercase;
}

aside h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

h2 {
    font-size: 30px;
}

p {
    text-align: justify;
    margin: 20px 0;
}

blockquote {
    background-color: #D9E5E3;
    padding: 20px;
    border: 10px solid #C2CCCA;
    width: 250px;
    margin: 20px 40px;
    box-sizing: border-box;
}

aside {
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #000000;
    color: #F2FFFC;
    padding: 20px;
}

main footer {
    background-color: #F2FFFC;
    color: #000000;
}

nav a {
    color: #F2FFFC;
}

.icones-sociais li {
    display: inline-block;
}

main a {
    color: #851944;
    font-family: "Open Sans Condensed", sans-serif;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;

}

main div {
    width: 720px;
    margin: auto;
    padding: 30px 0;
}

ul {
    list-style-type: none;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}